* {
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  
}
 
header{
  overflow: hidden;
}

header h1{
  
  width: 10%; 
  margin-top: 20px;
  margin-left: 20px;
  
}
header h1 a{}

header h1 a img{
  width: 100%;
}

header>nav {
float: right;
width: 58%;
margin-top: 4%;
}




header>nav>ul{}
header>nav>ul>li{
  float: left;
  width: 20%; 
  text-align: center;
  
}




.title{
  margin: auto;
  text-align: center;
  margin-top: 40px;
}


div.title>span{
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  font-family: 'Bodoni Moda', serif;
  color: #184e1f;
  font-size: 29px;
  margin: auto;
  margin-left: 21px;  
}

#text{
  font-size: 7px;
  color: #9B9B9B;
}
.login-form {
    width: 300px;
    
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border: none;   
     
}


.boxbtn{
  margin-left: 0px;
    float: left;
    margin-top: 7px;
}


.check{
  float: left;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 2px;
    color: #707070;
}


 
.text-field {
      font-size: 14px;
      padding: 10px;
      border: none;
      width: 300px;
      margin-bottom: 10px;
      background-color: #bad6be;
 
}
 
.submit-btn {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 300px;
  background-color: #547959;
  margin-bottom: 30px;
  color: white;
  transition: all .5s;
  margin-top: 15px;
  cursor:pointer
}
.submit-btn:hover {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 300px;
  background-color: #253d28;
  margin-bottom: 30px;
  color: #fff;
}

.join{
  overflow: hidden;
  width: 300px;
}

.join-btn {
  float: left;
  font-size: 14px;
  padding: 10px;
  width: 140px;
  background-color: #ffffff;
  margin-bottom: 30px;
  color: black;
  border: 1px solid #549759;
  font-weight: bold;
  color: #184e1f;
  transition: all .4s;
  cursor:pointer
}

.join-btn:hover{
  background-color: #cbd4bb;
}



.kakao-btn{
  font-size: 14px;
  padding: 10px;
  width: 141px;
  margin-bottom: 30px;
  color: black;
  border: none;
  background-color: #fee500;
  border: 1px solid #fee500;
  font-weight: bold;
  color: #184e1f;
  float: right;
  transition: all .5s;
  cursor:pointer

}
.kakao-btn:hover{
  background: #fedd00;
}

 
.links {
    text-align: center;
    margin-left: 34px;
}
 
.links a {
  font-size: 12px;
  color: #9B9B9B;
}


footer{
  overflow: hidden;
  background-color: #4c6d5a;
  margin-top: 11%;
  padding-bottom: 4%;
 
}

footer>div{
  width: 80%;
  margin: auto;
}

footer>div>img{
  display: block;
  float: left;
  width: 10%;
}

footer>div>p{
  float: left;
  width: 50%;
  color: #ffffff;
  margin-left: 288px;
  margin-top: 28px;
}

